# IDE
.idea

*~
*#
.DS_STORE
.netbeans
nbproject
.idea

**/target/*
*.iml
/target/**
/out/*
target
senohttp_win
senohttp_win.zip
senohttp_win/**
senohttp_nix.zip
senohttp_nix
senohttp_nix/**
senohttp_mac
senohttp_mac.zip
senohttp_mac/**
